# Indeed Job Listing Data - Exploratory Data Analysis (EDA)

In [7]:
# import necessary packages 
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

## Load the data

In [8]:
# import csv files with scraped data for resp. country 
# USA 
df_NY = pd.read_csv('output/indeed_jobs_USA_NY.csv')
df_LA = pd.read_csv('output/indeed_jobs_USA_LA.csv')
df_CHI = pd.read_csv('output/indeed_jobs_USA_Chicago.csv')

# merge US cities

In [13]:
df_LA.head()
# tail
# info 
# shape 
# describe

,page,country,job_link,search_keyword,search_location,job_title,company_name,company_location,salary,job_description
0,1,USA,https://www.indeed.com/rc/clk?jk=ef1f2d4dbe7e7...,Data+Analyst,"Los+Angeles, CA",Data Analyst,Disney Entertainment & ESPN Technology,"Santa Monica, CA","$93,400 - $131,300 a year",Disney Entertainment & ESPN Technology \n On a...
1,1,USA,https://www.indeed.com/rc/clk?jk=1714f4c7f40d5...,Data+Analyst,"Los+Angeles, CA",Risk Data Analyst,East West Bank,"Pasadena, CA 91101","$67,000 - $80,000 a year - Full-time","Introduction: \n \n Since 1973, East West Ba..."
2,1,USA,https://www.indeed.com/rc/clk?jk=14ecae504eac9...,Data+Analyst,"Los+Angeles, CA","IT Analyst, Business Intelligence/Data Warehou...",Keck Medical Center of USC,"Alhambra, CA","$95,680 - $158,230 a year",Actively design and develop ETL solutions that...
3,1,USA,https://www.indeed.com/rc/clk?jk=83b9fb56a5a21...,Data+Analyst,"Los+Angeles, CA",Business Data Analyst,USC,"Los Angeles, CA","$66,560 - $68,000 a year",Please review the Affirmative Action and Equal...
4,1,USA,https://www.indeed.com/rc/clk?jk=870670b7a9e07...,Data+Analyst,"Los+Angeles, CA","Senior Staff Analyst, Data Analytics and Repor...",Heluna Health,"Hybrid work in Los Angeles, CA 90014","$8,249.91 - $11,903.10 a month - Full-time",Salary: $8249.91- $11903.10 Monthly \n \n SUM...

## Data reduction 
Handle missing and duplicate data entries. Remove unnecessary columns (if any).

In [ ]:
# handle missing values 

# check for potential duplicates 
# nunique() 
# unique()
# isnull().sum()
# also calculate percentage of missing values for each column 

# drop columns if not needed

## Data Cleaning 
Clean and preprocess the data to handle anomalies and outliers.

## Feature engineering

In [ ]:
# split column to separate numerical values for salary

## Univariate analysis

## Bivariate analysis

In [12]:
## Visualization

## Conclusions 
TBA.